.tableNotes {
    margin-top: 1em;
}

.tableRow {
    display: grid;
    grid-template-columns: 5% 15% 15% 10% 30% 15% 10%;
    align-items: center;
    padding: 7px;
    font-size: 1.2em;
    background-color: lightcyan;
}

.noteContent {
    padding: 0 0.5em;
}

.tools {
    display: flex;
    justify-content: space-between;
}

.toolButton {
    background: transparent;
    border: none;
    color: #000;
    width: 1.5em;
}

.toolImg {
    width: 1.5em;
    cursor: pointer;
}

.tableIcon {
    display: flex;
}

.iconImg {
    width: 2em;
}

.info:not(:nth-of-type(1)) {
    color: darkgray;
}